<h1> Contacts </h1>

<%
    contacts = Contact.all
%>

<p>
    Below is the list of contacts that we found for you:
</p>

<ul>
    <% for contact in contacts %>
        <% company_name = Company.find_by({"id" => contact["company_id"]}) %>
        <li>
            <%= contact.first_name %>
            <%= contact.last_name %>
            from
            <%= company_name.name %>
        </li>
    <% end %>
</ul>